#secConv{
    width: 40rem;
    height: 40rem;
    background-color: rgb(12, 12, 12,70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 15%;
    left: 30%;
}

#secConv h1{
    width: 100%;
    border-bottom:solid 1px black ;
}

#secConv input{
    width: 70%;
    height: 2rem;
    position: absolute;
    left: 15%;
    top: 93%;
}

#convDiv{
    overflow-y: scroll;
    height: 80%;
}

#convDiv p{
    width: 100%;
    max-width: 45%;
    background-color: antiquewhite;
    height: auto;
    padding: 0.2rem;
    border-radius: 10px;
}

#convBouton {

    flex-direction: row;

}