body{

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

#hubPage{

    width: 100%;
    height: 100%;
    background-image: url("../image/backGroundTeinte.png");
    background-size: contain;

}

#divHub{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#hubHeader {

    display: flex;
    flex-direction: row;

}

#logout{
    display: none;
}

#titreHub {

    color: white;

}

#loginLinkFhub {

    color: white;

}

#hub {

    height: 768px;
    width: 1024px;
    background-color: gray;
}

#me {

    position: absolute;

}

.other {

    left: 500px;
    top: 300px;
    position: absolute;

}

#loginPage {

    display: none;

}