body {

    height: 99vh;
    width: 99vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../image/fond-hube.webp");
    background-size: cover;

}

main {

    height: 50rem;
    width: 80rem;
    background-color: gray;

}